{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas"
  ],
  "sourceMaps": "inline"
}
